@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent01: 248 177 149; /* #f8b195 */
    --accent02: 168 144 129; /* #a39081 */
    --accent03: 235 156 77; /* #eb9c4d*/
  }
  :root.light-mode {
    --bg01: 255 243 219; /* #fff3db*/
    --bg02: 239 217 180; /*#efd9b4*/

    --color01: 95 97 96; /*#4d6160*/
    --color02: 214 166 146; /*#d6a692*/

    --border01: 214 166 146; /*#d6a692*/
    --border02: 77 97 96; /*#4d6160*/

    --grayish01: 47 64 55; /* 	#2F4037 */
  }
  :root.dark-mode {
    --bg01: 53 54 52; /* #343536 */
    --bg02: 41 37 34; /*#292522*/

    --color01: 214 166 146; /*#d6a692*/
    --color02: 77 97 96; /*#4d6160*/

    --border01: 77 97 96; /*#4d6160*/
    --border02: 214 166 146; /*#d6a692*/

    --grayish01: 240 240 240; /* #F0F0F0  */
  }
}

body {
  background-color: rgb(var(--bg01));
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}
*::-webkit-scrollbar {
  display: none;
}

a.active {
  border-bottom: 2px solid rgb(var(--border01));
}
