@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root.light-mode {
    --bg01: 255 243 219; /* #fff3db*/
    --bg02: 239 217 180; /*#efd9b4*/

    --color01: 77 97 96; /*#4d6160*/
    --color02: 214 166 146; /*#d6a692*/

    --border01: 214 166 146; /*#d6a692*/
  }
  :root.dark-mode {
    --bg01: 53 54 52;
    --bg02: 41 37 34; /*#292522*/

    --color01: 214 166 146; /*#d6a692*/
    --color02: 77 97 96; /*#4d6160*/

    --border01: 77 97 96; /*#4d6160*/
  }
}

body {
  background-color: rgb(var(--bg01));
  min-width: 100vw;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}

a.active {
  border-bottom: 2px solid rgb(var(--border01));
}

/* @media (max-width: 640px) {
  a.active {
    border-radius: 50%;
    border: 2px solid rgb(var(--border01));
  }
} */
