@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root.light-mode {
    --bg01: 247 241 180;
    --bg02: 15 15 13;
  }
  :root.dark-mode {
    --bg01: 15 15 13;
    --bg02: 245 240 182;
  }
}

body {
  background-color: rgb(var(--bg01));
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}

a.active {
  border-bottom: 2px solid orange;
  transition: all 150ms linear;
  /* background: #000; */
  /* color: aliceblue; */
  /* padding: 0.25rem 1rem; */
  /* border-radius: 5rem; */
  /* text-transform: uppercase; */
}
